.container{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.card--container{
  padding: 90px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
